* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  background-color: antiquewhite;
}

/* Heading */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto 50px auto;
  height: 80px;
  background-color: aliceblue;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Outer container */
#outer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Form container */
#form {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 5px 10px black;
  width: 500px;
  padding: 20px;
  background: #fff;
}

/* Inputs */
.input {
  width: 350px;
  height: 35px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  padding: 5px;
  margin-left: 70px;
  margin-top: 5px;
}

.input:hover {
  border: 2px solid antiquewhite;
  border-radius: 2px;
}

/* Labels */
label {
  margin-left: 70px;
  display: block;
  margin-top: 15px;
}

/* Radio buttons */
.input2 {
  width: 20px;
  height: 20px;
  margin-left: 70px;
  margin-top: 10px;
}

/* Submit button */
#submit {
  margin-left: 150px;
  width: 200px;
  height: 40px;
  background-color: orange;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: medium;
  box-shadow: 0px 8px 0px black;
  margin-top: 20px;
  cursor: pointer;
}

#submit:hover {
  border-radius: 15px;
}

#submit:active {
  box-shadow: 0px 0px 0px black;
}

/* Error messages */
.error {
  color: red;
  margin-left: 70px;
  margin-top: 5px;
  font-size: 0.9rem;
}

/* ===================== RESPONSIVENESS ===================== */

/* Tablet view */
@media (max-width: 900px) {
  #form {
    width: 80%;
    padding: 20px;
  }

  .input {
    width: 80%;
    margin-left: 10%;
  }

  label, .input2, .error {
    margin-left: 10%;
  }

  #submit {
    margin-left: calc(50% - 100px);
    width: 200px;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  h1 {
    height: auto;
    padding: 15px;
    font-size: 1.2rem;
  }

  #outer {
    padding: 10px;
  }

  #form {
    width: 95%;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  }

  label {
    margin-left: 5%;
    font-size: 1rem;
  }

  .input {
    width: 90%;
    margin-left: 5%;
    font-size: 1rem;
    height: 35px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
  }

  .input2 {
    margin-left: 5%;
    width: 18px;
    height: 18px;
  }

  .error {
    margin-left: 5%;
    font-size: 0.85rem;
  }

  #submit {
    width: 80%;
    margin-left: 10%;
    height: 45px;
    font-size: 1rem;
  }
}

/* Very small phones */
@media (max-width: 400px) {
  h1 {
    font-size: 1rem;
    padding: 10px;
  }

  .input {
    width: 90%;
    font-size: 0.9rem;
  }

  #submit {
    width: 90%;
    margin-left: 5%;
  }

  .error {
    font-size: 0.8rem;
  }
}
